.lead__image {
    margin: 0 auto;
    width: 100%;
    background-image: url('../../../sprint-3-images/__image.svg');
    background-size: cover;
    background-position: center;
    height: 62.5vw;
    max-height: 580px;
    position: relative;
}

@media screen and (min-width: 1024px) {
    .lead__image {
        width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__image {
        width: 984px;
        max-height: 615px;
    }
}